.section {

    background-color: #F5F5F5;
    height: 100vh;
    width: 100%;
    margin-bottom: 1rem;
}


.firstnft1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    /* padding: 2rem  12%; */
}

.nft1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 2rem; */
    margin-top: 2rem;
}

.nft1 img {
    width: 30px;
}


#more {
    background-color: #7909C3;
    color: white;
    margin: auto;
    display: block;
    width: 15%;
    padding: 1em 2rem;
    margin-top: 1rem;
    text-align: center;
}